@import url("https://fonts.googleapis.com/css?family=Montserrat%3A300%2C300i%2C400%2C500%2C600&amp;display=swap&amp;ver=5.8.1");

@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h-55vh {
    height: 55vh;
  }
  .bg-fb {
    background-color: rgb(59, 89, 152);
  }
  .bg-ig {
    background-color: rgb(195, 42, 163);
  }
  .font-exo {
    font-family: "Exo 2", sans-serif;
  }
  .-z-1 {
    z-index: -1;
  }
}
